@media screen and (max-width:576px) {
    html {
        font-size: 16px;
    }

    main {
        padding: 0 20px;
    }

    header {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        box-shadow: none;
        overflow: hidden;
    }

    .nav-elements {
        max-width: 576px;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;

    }

    .nav-right>ul {
        flex-direction: column;
        margin-top: 40px;
    }

    .nav-right>ul>li:last-child>button {
        width: 260px;
        margin-top: 40px;
    }

    /* banner section  */
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        /* margin: 0 auto; */
        max-width: 576px;
        margin: 0;
    }

    .banner-right {
        width: 100%;
        margin: 0 auto;

        >img {
            width: 100%;
        }
    }

    .banner-left {
        background-position: right;
        width: 100%;

        >.banner-left-element {
            transform: scale(0.7);
        }
    }

    /* gamer section  */
    .gamer {
        padding: 0;
        background-color: transparent;
    }

    .gamer-content {
        margin: 0 auto;
        flex-direction: column;
        max-width: 576px;
        justify-content: center;
    }

    .gamer-left {
        max-width: 100%;

        >img {
            width: 100%;
        }
    }

    .gamer-right {
        text-align: center;
        max-width: fit-content;

        >h1 {
            font-size: 2rem;
        }

        >p {
            font-size: .8rem;
            line-height: 120%;
        }

        >button {
            font-size: 1rem;
            padding: 10px 20px;
        }

        >h3 {
            font-size: 1rem;
        }

        >h2 {
            font-size: 1.2rem;
        }

    }

    /* game card section  */

    .card-bottom {
        grid-template-columns: repeat(1, 1fr);
        >.card{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            >p{
                text-align: center;
                max-width: 250px;
            }
            > .game{
                max-width: 80%;
            }
        }

    }

    /* play section  */
    .play-top , .play-bottom{
        flex-direction: column;
        margin-bottom: 100px;
        > .first{
            max-width: 100%;
            text-align: center;
            transform: scale(0.8);
            padding: 0;
        }
        > .second{
            max-width: 80%;
            right: -20px;
            position: relative;
            > .img-one{
                max-width: 100%;
            }
            > .img-two{
                position: absolute;
                left: -50px;
                bottom: -50px;
                max-width: 40%;
            }
        }
    }
    .play-bottom{
        >.second{
            right: auto;
            left: -20px;
            >.img-two{
                left: auto;
                right: -50px;
            }
        }
    }
}