@media screen and (max-width:576px){
    html{
        font-size: 16px;
    }
    nav{
        box-shadow: none;
    }
    .nav-elements{
        max-width: 576px;
        flex-direction: column;
    }
    .nav-right>ul{
        flex-direction: column;
        margin-top: 60px;
    }
    .nav-right>ul>li:last-child>button{
        width: 260px;
        margin-top: 60px;
    }
}