@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 16px;
    /* color-scheme: dark light; */
    font-family: 'work sans';
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 1px solid rgb(253, 217, 126);
}
.dip{
    display: none;
}
:root{
    --default:#FF42A5;
    --second:rgba(11, 2, 35, 1);
    --font-color:#534C64;
}
/* navbar  */
nav{
    width: 100vw;
    box-shadow: 0px 10px 5px rgba(11, 2, 35,0.1);
}
.nav-elements{
    margin:0 auto;
    padding: 37px 180px 37px 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.nav-left{
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--second);
    > span{
        padding-left: 20px;
        font-size: 2.8rem;
        font-weight: 600;
        color:var(--default);
    }
}
.nav-right{
    >ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        list-style: none;
        >li{

            >button{
                background-color: transparent;
                >a{
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--font-color);
                }
            }
        }
    }
}
.nav-right>ul>li:last-child>button{
    font-size: 1.2rem;
    background-color:rgba(11, 2, 35, 0.1);
    padding: 20px 18px;
    border-radius: 15px;
    color: var(--font-color);
    font-weight: 600;
    > a:first-child{
        color: red;
        font-size: 1.5rem;
        padding: 0 20px;
    }
    > a:last-child{
        font-size: 1.5rem;
    }
}
/* banner section  */
.banner{
    max-width: 1920px;
    margin: 0 auto;
    height: 700px;
    display: flex;
}
.banner-left{
    width: 50%;
    background: url(../images/Group\ 14.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left-element{

    >h2{
        font-size: 3rem;
        font-weight: 600;
        color: var(--second);
    }
    >h1{
        font-size: 6rem;
        font-weight: 800;
        background: linear-gradient(#F948B2,#8758F1);
        background-clip: text;
        color: transparent;
    }
    >.banner-element{
        >p{
            font-size:1.3rem ;
            color: var(--font-color);
            font-weight: 500;
            padding-top: 15px;
            >i{
                color: var(--default);
                padding-right: 15px;
            }
        }
    }
    >.btn{
        padding-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        >button{
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 20px 40px;
            background-color: var(--default);
            border-radius: 50px;
        }
        >button:last-child{
            background-color: #4EC5F7;
        }
    }
}
.banner-right{
    width: 50%;
    >img{
        height: 100%;
        width: 80%;
        object-fit: cover;
    }
}

/* gamer section  */

.gamer{
    background-color: rgba(249, 72, 178,0.03);
    padding: 50px 0;
}
.gamer-content{
    display: flex;
    margin: 0 auto;
    justify-content: right;
    max-width: 1540px;
    gap: 50px;
}
.gamer-left{
    max-width: 50%;
    > img{
        width: 100%;
    }
}
.gamer-right{
max-width: 40%;
text-align: right;
    >h1{
        font-size: 3rem;
        font-weight: 700;
        line-height: auto;
        background: linear-gradient(#F948B2,#8758F1);
        background-clip: text;
        color: transparent;
        padding: 20px 0;
    }
    >p{
        color: var(--font-color);
        line-height: 30px;
        letter-spacing: 0.3px;
        font-weight: 400;
    }
    > button{
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 20px 40px;
        background-color: var(--default);
        border-radius: 50px;
        margin: 30px 0;
    }
    >h3{
        color: var(--font-color);
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 40px;
    }
    >h2{
        font-size: 2rem;
        font-weight: 700;
        color: var(--font-color);
        &:before {
            content: open-quote;
        }
        &:after{
            content: close-quote;
        }
    }
}